/* Flex */
@mixin flexBetween($direction){
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: $direction;
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  
  gap: 1rem;
}
/* Transition */
@mixin transition {
    transition: all .5s ease-in-out;
}

/* Media Queries */

@mixin desktop {
    @media (max-width: $desktop){
      @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet){
      @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile){
      @content;
    }
}